body {
	font-family: 'Source Sans Pro', 'Helvetica Neue',Helvetica, arial, Sans-serif;
	background: #A3D988;
	margin-top: 80px;
}

/*<div>Copyright by <a href="http://icon-download.com" title="icon-downloads">www.icon-download.com</a></div>*/

p {
	color:#777;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 300;
}

ul {
	padding: 0;
	margin:0;
	list-style-type: none;
}

ul li {
	margin-bottom: 5px;
}

#main-header {
	position: fixed;
	top:0;
	width: 100%;
	background-color:#FFF;
	z-index:99;

	background-color:rgb(255, 255, 255);
	background-color: rgb(255, 255, 255, 0.95);
	/* For IE 8*/
	 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#11000000, endColorstr=#11000000)";

	-moz-box-shadow:0 1px 5px #999;
	-webkit-box-shadow:0 1px 5px #999;
	box-shadow: 0 1px 5px #999;
}



#main-logo {
	width:100%;
	height:60px;
	padding:2px 0 0 20px;
	margin:0;
	background-color: #A3D900;
}

#main-logo a {
	font-size: 20px;
	font-size: 2rem;
	font-weight:600;
	color:#FFF;
	text-decoration:none;
}

#main-logo a span {
	display: block;
	color:DFFFBF;
	font-size: 13px;
	font-size: 1.3rem;
}


/* Estilos para el menu en mobil*/
#mobile-menu-button {
	float: right;
	width: 44px;
	margin: 20px 0;
}

#mobile-main-menu {
	display: none;
}

#mobile-main-menu a {
	display: block;
	width: 100%;
	padding: 10px 0;
	border-top:1px solid #EEE;
	color:#AAA;
	text-align: center;
	text-transform: uppercase;
}

#mobile-main-menu li {
	margin:0;
}

#mobile-main-menu a:hover {
	color:#FFF;
	text-decoration: none;
	background-color:#A3D900;
}
/*Estilos para las secciones de los workshops*/



.workshop {
	width:100%;
	min-height:400px;
	padding:50px 0;

    margin-top: 45px;
	background-position: 0 0;
	background-repeat:no-repeat;
	background-size:cover;

	font-weight:300;
}

.workshop p {
	font-size:18px;
	font-size:1.8rem;
}

.workshop a, .whorkshop a:hover {
	color:#FFF;
	font-weight:400;
}

.workshop-left h3 {
	float:right;
	clear:right;
	text-align:right;
}

.workshop-right h3 {
	float:left;
	clear:left;
	text-align:left;
} 

.workshop-left {
	text-align: left;
}

.workshop-right {
	text-align: right;
}

.main-info h2 {
	margin:0 0 20px 0;
	font-size:56px;
	font-size: 5.6rem;
	line-height:56px;
	line-height: 5.6rem;
	color:#FFF;
	font-weight: 200;
}

.main-info p {
	margin-bottom: 20px;
	font-size: 18px;
	font-size: 1.8rem;
	line-height: 18;
	line-height: 1.8rem;
	font-weight: 400;
}

.date-info {
	margin-top:20px;
}

.date-info h3 {
	display:inline-block;
	padding:3px 10px;
	margin: 0 0 4px 0;

	color:#FFF;
	font-weight:200;
	text-transform: uppercase;

	background-color:rgb(0, 0, 0);
	background-color: rgb(0, 0, 0);
	
}

.date-info h3 strong {
	margin-right: 10px;
}

.workshop .btn, .workshop .btn:hover {
	padding: 10px 35px;
	color:#FFF;
}

.more-info-link {
	margin:0 15px;
}

#w1 {
	height: 625px;
	/*background-image:url(../img/frio.jpg);*/
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#w1 p {
	color:#B25900;
}

#w1 p a {
	color:661900;

}

#w1 .btn {
	background-color: #006698;
}

#w2 {
	
	background-image: url(../img/equipo_bg.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

#w2 p {
	color:#FFA5A5;
}

#w2 p a {
	color: #FFF;
}

#w2 .btn {
	color:444;
	background-color: #EEE;
}

#titulo1 {
	height: 300px;
	background-image: url(../img/contacto.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	text-align: center;

}

#titulo1 h1 {

	color: #FFF;
	font-size: 50px;
}

#tittle {
	text-align: center;
	height: 315px;
}



/* Esto hace parte de los estilos del pie de paguina*/

footer {
	padding: 30px 0;
	background-color:#333;
}

footer a, footer a:hover {
	color: #FFF;
	font-weight:400; 
}

footer h3 {
	margin-top:30px;
	color:#FFF;
	font-size: 16px;
	font-size: 1.6rem;
	text-transform: uppercase;
}

footer {
	color:#DDD;
	font-weight: 200;
}


/*Estilos para la pagina se detail*/
#next-workshops a {
	color:#00BFFF;
	text-decoration: none;
}

#next-workshops a:hover{
	color:#FFF;
	text-decoration: none;
}

#subscribe-form input{
	padding: 0 24px;
	border:0;
	border-radius: 0px;

	color:#CCC;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight:300;
	line-height: normal;
	background-color:#222;
}

#subscribe-form button {
	width:100%;
	color:#444;
	background-color:#EEE;
	line-height: 24px;
	line-height: 2.4rem;
}


.btn-custom {
	border:0;
	border-radius:0px;

	font-size:14px;
	font-size:1.4rem;
	font-weight:600;
}

#w1-detail header {
	padding:40px 0;
	background:url('');
	background-size: cover;
}

section {
	margin:40px 0;
}

.detail h2, .detail h3, .detail h4 {
	color: #333;
	font-weight: 300;
}

.detail h2 {
	color:#FFF;
	font-size:56px;
	font-size:5.6rem;
	font-weight:200;
}

.detail h3 {
	font-size:32px;
	font-size: 3.2rem;
} 

.detail h4 {
	margin-bottom:10px;
	color:#1F1F1F;
	font-size:16px;
	font-size: 1.6rem;
	font-weight: 600;
}

.detail dt {
	float:left;
	width:15%;
}

.detail dd {
	float:left;
	width: 70%;
	padding-left: 4%;
	margin-left:0;
}

#intro h3 {
	margin: 0 0 20px 0;
	font-size: 40px;
	font-size:4rem;
}

#trainer-list img {
	display: block;
	margin:10px auto 0 auto; 
}

#trainer-list .trainer + .trainer {
	margin-top: 40px;
}

#trainer-list p {
	font-size:15px;
	font-size: 1.5rem;
	line-height:18px;
	line-height: 1.8rem;
}

.trainer-link {
	margin-right: 20px;
	color:#006CD8;
}

#registration-badge {
	width:80%;
	margin:0 auto;
	font.size:20px;
	border:1px solid #DCE9AF;
}

#registration-badge .price{
	float:left;
	width:50%;
	margin:0;

	color:#666;
	font-size: 60px;
	font-size: 6rem;
	font-weight: 200;
	text-align: right;
}

#registration-badge .included {
	float: left;
	width: 50%;
	padding: 10px 0 0 20px;

	color: #888;
	font-size: 14px;
	font-size: 1.4rem;
	line-height: 18px;
	line-height: 1.8rem ;
	font-weight: 400;
	text-align:left;
}

#registration-badge .do-register {
	display:inline-block;
	width: 100%;
	padding:10px 0;

	color:#FFF;
	font-size: 16px;
	font-size: 1.6rem;
	font-weight: 600;
	text-align:center;
	text-decoration: none;

	background-color:#A3D900;
}

#registration-badge .do-register:hover {
	text-decoration: none;
	background-color:#7CA600;
}

#table-of-contents {
	padding:10px 0;
	margin-bottom:0;
	background-color:#EEE;
}

#table-of-contents h3 {
	margin-bottom: 20px;
}

#table-of-contents h4 {
	margin:0;
	color:#444;
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
}

#table-of-contents ul {
	margin:0 0 40px 0;
}

#table-of-contents li {
	margin-bottom:0;
	color:#777;
	font-size: 14px;
	line-height: 18px;
	font-weight: 200;
}

#location-info {
	position:relative;
	height: 300px;
	margin-top: 0;
}

#map-canvas {
	position:absolute;
	top:0;
	left: 0;
	width: 100%;
	height: 300px;
}

.location-info {
	margin:0;
	padding: 0;
}
#hotel-info {
	height: 300px;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255);
}

#faq {
	background-color: #EEF;
	padding: 0;
	margin: 0;
}
#faq h4 {
	color:#444;
	font-weight: 600;
}

#faq p {
	font-size: 15px;
	line-height: 18px;
}


.nav_calendario{
	width: 50%;
}

.texto_fecha{
	margin-right: 120px;
	color: green;
}


/*  ESTE RANGO DE PIXELES SE MANEJA JUNTO CON LA RESOLUCION DE 1200 O MÁS */

@media (min-width: 980px) and (max-width: 1199px) {

  .logo {
    display: none !important;
  }
  .calendarios {
     
  }
  .span6 {
    width: 38%;
    display: inline-block;
    margin-right: 10%;
    margin-left: 10%;

  }
  .span3 {
     width: 18%;
     display: inline-block;
     float: left;

  }
  .span2 {
     width: 20%;
     display: inline-block;
     float: right;
     margin-right: 4%;
     margin-top: -362px;

  }
  .workshop {
    margin-top: 30px;
    display: inline-block;
  }
  .boton-cal {
    margin-left: 25%;
    width: 75%;
    height: 49px;
  }
  .tabla_medLote {
    width: 80%;
  }

}

/*  OTRO TIPO DE RESOLUCIÓN! */

@media (min-width: 768px) and (max-width: 979px) {
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .workshop {
    margin-top: 35px;
  }
  .span6 {
    width: 10%;
    display: inline-block;
    margin-right: 29%;

  }
  .span3 {
     width: 34%;
     display: inline-block;
     float: left;

  }
  .span2 {
     width: 25%;
     display: inline-block;
     float: right;
  }
  .boton-cal {
    margin-left: 25%;
    width: 65%;
    height: 49px;
  }
  .tercer {
  	display: none !important;
  }
  
}


@media (max-width: 767px) {
  .span6 {
     width: 32%;
     display: inline-block;
     float: right;
     margin-right: 27%;
  }
  .span3 {
     display: inline-block;
     width: 2%;
  }
  .span2 {
    width: 15%;
  }

  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  #main-logo{
    display: none !important;
  }
  #main-header {
  	background-color: #A3D900;
  	height: 60px;
  	margin-bottom: 1000px;
  }
  .workshop {
  	margin-top: -5px;
  }
  .navbar-container {
  	width: 85%;
  }
  .logo {
    
  }
}

/*  RESOLUCIÓN MENOR QUE 480 PIXELES = PARA CELULARES */

@media (max-width: 480px) {

}



@media (min-width: 1200px) {
  .boton-cal {
    margin-left: 20%;
    width: 85%;
    height: 49px;
  }

  .logo {
  	display: none !important;
  }
  .row {
    margin-left: -30px;
    *zoom: 1;
  }
  .row:before,
  .row:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row:after {
    clear: both;
  }
  [class*="span"] {
    float: left;
    min-height: 1px;
    margin-left: 30px;
  }
  .container,
  .navbar-static-top .container,
  .navbar-fixed-top .container,
  .navbar-fixed-bottom .container {
    width: 1170px;
  }
  .span12 {
    width: 1170px;
  }
  .span11 {
    width: 1070px;
  }
  .span10 {
    width: 970px;
  }
  .span9 {
    width: 870px;
  }
  .span8 {
    width: 770px;
  }
  .span7 {
    width: 670px;
  }
  .span6 {
    width: 53%;
  }
  .span5 {
    width: 470px;
  }
  .span4 {
    width: 370px;
  }
  .span3 {
    width: 270px;
  }
  .span2 {
    width: 170px;
  }
  .span1 {
    width: 70px;
  }
  .offset12 {
    margin-left: 1230px;
  }
  .offset11 {
    margin-left: 1130px;
  }
  .offset10 {
    margin-left: 1030px;
  }
  .offset9 {
    margin-left: 930px;
  }
  .offset8 {
    margin-left: 830px;
  }
  .offset7 {
    margin-left: 730px;
  }
  .offset6 {
    margin-left: 630px;
  }
  .offset5 {
    margin-left: 530px;
  }
  .offset4 {
    margin-left: 430px;
  }
  .offset3 {
    margin-left: 330px;
  }
  .offset2 {
    margin-left: 230px;
  }
  .offset1 {
    margin-left: 130px;
  }
  .row-fluid {
    width: 100%;
    *zoom: 1;
  }
  .row-fluid:before,
  .row-fluid:after {
    display: table;
    line-height: 0;
    content: "";
  }
  .row-fluid:after {
    clear: both;
  }
  .row-fluid [class*="span"] {
    display: block;
    float: left;
    width: 100%;
    min-height: 30px;
    margin-left: 2.564102564102564%;
    *margin-left: 2.5109110747408616%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  .row-fluid [class*="span"]:first-child {
    margin-left: 0;
  }
  .row-fluid .controls-row [class*="span"] + [class*="span"] {
    margin-left: 2.564102564102564%;
  }
  .row-fluid .span12 {
    width: 100%;
    *width: 99.94680851063829%;
  }
  .row-fluid .span11 {
    width: 91.45299145299145%;
    *width: 91.39979996362975%;
  }
  .row-fluid .span10 {
    width: 82.90598290598291%;
    *width: 82.8527914166212%;
  }
  .row-fluid .span9 {
    width: 74.35897435897436%;
    *width: 74.30578286961266%;
  }
  .row-fluid .span8 {
    width: 65.81196581196582%;
    *width: 65.75877432260411%;
  }
  .row-fluid .span7 {
    width: 57.26495726495726%;
    *width: 57.21176577559556%;
  }
  .row-fluid .span6 {
    width: 48.717948717948715%;
    *width: 48.664757228587014%;
  }
  .row-fluid .span5 {
    width: 40.17094017094017%;
    *width: 40.11774868157847%;
  }
  .row-fluid .span4 {
    width: 31.623931623931625%;
    *width: 31.570740134569924%;
  }
  .row-fluid .span3 {
    width: 23.076923076923077%;
    *width: 23.023731587561375%;
  }
  .row-fluid .span2 {
    width: 14.52991452991453%;
    *width: 14.476723040552828%;
  }
  .row-fluid .span1 {
    width: 5.982905982905983%;
    *width: 5.929714493544281%;
  }
  .row-fluid .offset12 {
    margin-left: 105.12820512820512%;
    *margin-left: 105.02182214948171%;
  }
  .row-fluid .offset12:first-child {
    margin-left: 102.56410256410257%;
    *margin-left: 102.45771958537915%;
  }
  .row-fluid .offset11 {
    margin-left: 96.58119658119658%;
    *margin-left: 96.47481360247316%;
  }
  .row-fluid .offset11:first-child {
    margin-left: 94.01709401709402%;
    *margin-left: 93.91071103837061%;
  }
  .row-fluid .offset10 {
    margin-left: 88.03418803418803%;
    *margin-left: 87.92780505546462%;
  }
  .row-fluid .offset10:first-child {
    margin-left: 85.47008547008548%;
    *margin-left: 85.36370249136206%;
  }
  .row-fluid .offset9 {
    margin-left: 79.48717948717949%;
    *margin-left: 79.38079650845607%;
  }
  .row-fluid .offset9:first-child {
    margin-left: 76.92307692307693%;
    *margin-left: 76.81669394435352%;
  }
  .row-fluid .offset8 {
    margin-left: 70.94017094017094%;
    *margin-left: 70.83378796144753%;
  }
  .row-fluid .offset8:first-child {
    margin-left: 68.37606837606839%;
    *margin-left: 68.26968539734497%;
  }
  .row-fluid .offset7 {
    margin-left: 62.393162393162385%;
    *margin-left: 62.28677941443899%;
  }
  .row-fluid .offset7:first-child {
    margin-left: 59.82905982905982%;
    *margin-left: 59.72267685033642%;
  }
  .row-fluid .offset6 {
    margin-left: 53.84615384615384%;
    *margin-left: 53.739770867430444%;
  }
  .row-fluid .offset6:first-child {
    margin-left: 51.28205128205128%;
    *margin-left: 51.175668303327875%;
  }
  .row-fluid .offset5 {
    margin-left: 45.299145299145295%;
    *margin-left: 45.1927623204219%;
  }
  .row-fluid .offset5:first-child {
    margin-left: 42.73504273504273%;
    *margin-left: 42.62865975631933%;
  }
  .row-fluid .offset4 {
    margin-left: 36.75213675213675%;
    *margin-left: 36.645753773413354%;
  }
  .row-fluid .offset4:first-child {
    margin-left: 34.18803418803419%;
    *margin-left: 34.081651209310785%;
  }
  .row-fluid .offset3 {
    margin-left: 28.205128205128204%;
    *margin-left: 28.0987452264048%;
  }
  .row-fluid .offset3:first-child {
    margin-left: 25.641025641025642%;
    *margin-left: 25.53464266230224%;
  }
  .row-fluid .offset2 {
    margin-left: 19.65811965811966%;
    *margin-left: 19.551736679396257%;
  }
  .row-fluid .offset2:first-child {
    margin-left: 17.094017094017094%;
    *margin-left: 16.98763411529369%;
  }
  .row-fluid .offset1 {
    margin-left: 11.11111111111111%;
    *margin-left: 11.004728132387708%;
  }
  .row-fluid .offset1:first-child {
    margin-left: 8.547008547008547%;
    *margin-left: 8.440625568285142%;
  }